/*.iml
/.idea
/profiles.clj
/resources/public/js/compiled
/node_modules
/out
/lib
/classes
/checkouts
/target
*.class
*.jar
pom.xml
/log
*.log*
/*-init.clj
/.lein-*
/.env
.nrepl-port
/resources/public/css
